.header {
  background: rgb(2, 0, 38);
  background: linear-gradient(
    105deg,
    rgba(2, 0, 38, 1) 0%,
    rgba(9, 9, 121, 1) 80%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.logoWrapper {
  background: #329110;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  width: 100px;
}

.logoCircle {
  background: rgba(2, 0, 38, 1);
  width: 55px;
  border-radius: 50%;
}
